@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

body{
	background-color: #dfd4c3;
	font-family: 'Open Sans', sans-serif;
}
.big-space{
	margin-top: 50px !important;
	clear: both;
}

.small-space{
	margin-top: 20px !important;
	clear: both;
}

.hr{
	border-top: solid;
	border-color: #CCC;
}

.alert-error{
	background-color: #800000E4;
	font-size: 15px !important;
	font-weight: 700 !important;
	color: #FFF;
}



input[type="date"] {
	text-transform: uppercase;
  	outline: none;
  	padding: 0 1rem;
}

@media only screen and (min-width: 992px) {
input[type="text"], select, input[type="date"]{
	width: 80% !important;
	border-radius: 8px;
}

label{
	margin-top: -5px;
}
}

@media only screen and (min-width: 992px) {
	input[type="text"], select, input[type="date"]{
	width: 100% !important;
	border-radius: 8px;
}

label{
	margin-top: -5px;
}
}
.logo img{
	width: 150px;
	height: 150px;
}

.float-right{
	text-align: right;
	border-right-width: 2px;
	border-right-color: #999;
	border-right-style: solid;
}

.float-left{
	
	text-align: left;
	color: #5E4A30;
}

.welcome{
	font-size: 40px;
	font-weight: 500;
}